<template>
  <div class="view-check-in">
    <ui-app-toolbar />
    <router-view v-if="open"></router-view>
    <ui-error :show="!open" type="warning" title="Check In Closed">
      <p>{{ $t('No classes are loaded') }}</p>
    </ui-error>
    <img class="logo" src="~@/assets/logo--customer.png" width="120">
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UiAppToolbar from './Ui/UiAppToolbar.vue'
import UiError from './Ui/UiError.vue'

export default {
  name: 'view-check-in',
  components: { UiAppToolbar, UiError },
  computed: {
    open () {
      return this.roster.length > 0
    },
    ...mapGetters({
      roster: 'getRoster'
    })
  }
}
</script>

<style>
  .view-check-in {
    display: flex;
    height:  100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logo {
    position: fixed;
    left: 15px; bottom: 15px;
    z-index: 0
  }
</style>
