<template>
  <div class="whoa">
    <div class="whoa__inner">
      <h1>Whoa...</h1>
      <p>You were never supposed to get here. Lets go back...</p>
      <p class="small">Not going anywhere? <router-link to="/">Click Here</router-link></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-not-found',
  created () {
    setTimeout(() => {
      this.$router.push('/')
    }, 5000)
  }
}
</script>

<style>
.whoa {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whoa__inner {
  position: relative
}
.whoa__inner:before {
  position: absolute;
  top: -18px;
  left: -75px;
  content: "):";
  font-size: 4.5rem;
  color: #8c8c8c;
}

.whoa__inner h1 {
  color: #8c8c8c;
}

.whoa__inner .small {
  font-size: 0.8em;
}
</style>
