<template>
  <div class="settings">
    <ui-drawer-menu
      :show="true"
      :requestToClose="exit"
    />
    <router-view class="settings__view"></router-view>
  </div>
</template>

<script>
import UiDrawerMenu from './Ui/UiDrawerMenu.vue'
export default {
  name: 'view-settings',
  components: { UiDrawerMenu },
  methods: {
    exit () {
      this.$router.push('/')
    }
  }
}
</script>

<style>
  .settings {
    min-height: 100vh;
  }
  .settings__view {
    min-height: 100%;
    margin-right: 320px;
  }
  .settings__header {
    background-color: white;
    border-bottom: 1px solid #dadada;
    padding: 1rem 1.5rem;
    height: 70px;
  }
  .settings__header h1 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .settings__body {
    padding: 1.5rem;
  }
  .settings__breadcrumb {
    margin-bottom: 0;
    position: absolute;
    left: 0; right: 0;
  }

  .settings__header--fixed {
    position: fixed;
    top: 0; left: 0;
    right: 320px;
    z-index: 10;
  }
  .settings__header--fixed + .settings__body {
    margin-top: 70px;
  }
</style>
