<template>
  <div class="enroll-user">
    <div class="settings__header settings__header--fixed d-flex align-items-center  clearfix">
      <h1>{{ $t('Enroll User') }}</h1>
      <form class="form-inline float-right ml-auto">
        <input type="text" class="form-control mr-sm-2" id="inlineFormInputName2" :placeholder="$t('Search Users')" v-model="query">
        <button type="button" class="btn btn-primary" @click="loadUsers"> {{ $t('Refresh List') }}</button>
      </form>
    </div>
    <div class="settings__body">
      <ui-user-list :query="query" :onUserClicked="enrollUser"/>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import UiUserList from '../Ui/UiUserList.vue'

export default {
  name: 'enroll-user',
  components: { UiUserList },
  data () {
    return {
      query: ''
    }
  },
  methods: {
    enrollUser (user) {
      this.$store.dispatch('enrollUser', user.id)
        .then(() => {
          alert('User Enrolled')
        })
        .catch((code, reason, response) => {
          console.log(code, reason)
          alert('Problem enrolling user: ' + code)
        })
    },
    ...mapActions({
      loadUsers: 'loadUsers'
    })
  }
}
</script>

<style>

</style>
