<template>
  <div id="fingerprint-server">
    <div class="settings__header clearfix">
      <h1 class="float-left">
        {{ $t('Fingerprint Server Settings') }}
      </h1>
      <b-badge :variant="connectionInfo.variant" class="float-right">{{ connectionInfo.label }}</b-badge>
    </div>
    <div class="settings__body">
      <b-card :header="$t('Connection Details')" no-body style="max-width: 400px; margin: 0 auto">
        <b-form>
          <b-card-body>
              <b-form-group
                :label="$t('Host')"
                label-for="inputHost">
                  <b-form-input
                    id="inputHost"
                    type="text"
                    placeholder="http://[ip]:[port]"
                    v-model="host"
                    required>
                  </b-form-input>
              </b-form-group>
              <b-form-group
                :label="$t('Session Key')"
                label-for="inputSessionKey">
                  <b-input-group>
                    <b-form-input
                      id="inputSessionKey"
                      type="text"
                      v-model="sessionKey"
                      disabled>
                    </b-form-input>
                      <b-input-group-append>
                        <b-button @click="refreshSession">{{ $t('Refresh Session') }}</b-button>
                      </b-input-group-append>
                </b-input-group>
              </b-form-group>
          </b-card-body>
        </b-form>
      </b-card>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'fingerprint-server',
  computed: {
    connectionInfo () {
      return {
        variant: this.isConnected ? 'success' : 'danger',
        label: this.isConnected ? this.$t('Connected') : this.$t('Disconnected')
      }
    },
    host: {
      get () {
        return this.$store.state.Fingerprint.host
      },
      set (value) {
        this.$store.commit('SET_HOST', value)
      }
    },
    sessionKey: {
      get () {
        return this.$store.state.Fingerprint.sessionKey
      }
    },
    ...mapGetters({
      isConnected: 'fingerprintServerConnectionStatus'
    })
  },
  methods: {
    refreshSession () {
      this.$store.dispatch('createSession')
    }
  }
}
</script>

<style>

</style>
