<template>
  <div class="load-classes">
    <div class="settings__header settings__header--fixed d-flex align-items-center clearfix">
      <h1>{{ $t('Load Classes') }}</h1>
      <form class="form-inline float-right ml-auto">
        <b-btn
          @click="refreshList">
            {{ $t('Refresh List') }}
        </b-btn>
        <b-btn
          class="ml-sm-2"
          @click="downloadAll">
            {{ $t('Load Selected Classes') }}
        </b-btn>
      </form>
    </div>
    <div class="settings__body">
      <ui-loader :isLoading="isLoadingClasses">
        <ul class="list--check">
            <roster-loader ref="loaders"
              v-for="item in classes"
              :key="item.id"
              :product="item" />
        </ul>
      </ui-loader>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Multiselect from 'vue-multiselect'
import UiLoader from '../Ui/UiLoader'
import RosterLoader from './LoadClasses/RosterLoader'

export default {
  name: 'load-class-list',
  components: { Multiselect, UiLoader, RosterLoader },
  created () {
    if (this.classes.length === 0) {
      this.$store.dispatch('loadClasses')
    }
    if (this.statuses.length === 0) {
      this.$store.dispatch('loadStatuses')
    }
  },
  computed: {
    isLoadingClasses () {
      return this.$store.state.Classes.loading
    },
    ...mapGetters({
      classes: 'getClasses',
      statuses: 'getStatuses'
    })
  },
  methods: {
    downloadAll () {
      this.$refs.loaders.forEach(loader => {
        loader.load()
      })
    },
    refreshList () {
      this.$store.dispatch('loadClasses')
      this.$store.dispatch('loadStatuses')
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style >
  .load-classes .list-item__inner {
    min-height: 74px;
  }
</style>
