<template>
  <div class="manual-check-in">
    <div class="settings__header d-flex align-items-center clearfix">
      <h1>{{ $t('Manual Check In') }}</h1>
    </div>
    <div class="settings__body">
      <div v-if="classes.length > 0" class="row">
        <div class="col-md-6">
          <div class="d-flex">
            <h4>{{ $t('Select Class') }}</h4>
            <b-btn to="load-classes" class="ml-auto mb-3" size="sm">{{ $t('Load More Classes') }}</b-btn>
          </div>
          <ul class="list--check">
            <li class="list-item"
                v-for="item in classes"
                :key="item.id"
                :class="{
                  active: item.isFull && item.id !== selected,
                  selected: item.id === selected
                }"
                @click="selectClass(item)">
              <div class="list-item__inner">
                {{ item.name }}
                <span class="ml-auto">
                  ({{ item.counts.checkedIn }}/{{ item.counts.total }})
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div v-if="selected" class="col-md-6">
          <h4>{{ $t('Students') }}</h4>
          <ui-check-in-list :roster="students" :product="selected" />
        </div>
      </div>
      <ui-error :show="classes.length === 0" type="warning" :title="$t('Check In Closed')">
        <p>{{ $t('No classes are loaded') }}</p>
        <router-link to="load-classes" class="btn btn-sm btn-secondary">{{ $t('Load Classes') }}</router-link>
      </ui-error>
    </div>
  </div>
</template>

<script>
import { filter } from 'lodash'
import { mapGetters } from 'vuex'
import UiCheckInList from '../Ui/UiCheckInList'
import UiError from '../Ui/UiError'
import UiLoader from '../Ui/UiLoader'

export default {
  name: 'check-in',
  components: { UiCheckInList, UiError, UiLoader },
  mounted () {
    if (this.allUsers.length === 0) {
      this.$store.dispatch('loadUsers')
    }
  },
  computed: {
    classes () {
      return filter(this.allClasses, item => (
        this.loaded.indexOf(item.id) > -1
      )).map(item => {
        let orders = filter(this.roster, { productId: item.id })
        let checkedInOrders = filter(orders, { checkedIn: true })
        let counts = {
          total: orders.length,
          checkedIn: checkedInOrders.length
        }
        return {
          isFull: counts.checkedIn === counts.total,
          counts: counts,
          ...item
        }
      })
    },
    students () {
      return filter(this.roster, { productId: this.selected })
    },
    ...mapGetters({
      allUsers: 'getUsers',
      allClasses: 'getClasses',
      roster: 'getRoster',
      loaded: 'loadedRosters'
    })
  },
  data () {
    return {
      selected: false
    }
  },
  methods: {
    selectClass (item) {
      this.selected = item.id
    }
  }
}
</script>

<style>
.manual-check-in .list--check {
  max-height: calc(100vh - 160px);
}
</style>
