<template>
  <div class="wp-sync">
    <div class="settings__header clearfix">
      <h1>Updates</h1>
    </div>
    <div class="settings__body">
      <b-btn @click="checkForUpdates">Check</b-btn>
    </div>
  </div>
</template>

<script>
import { ipcRenderer } from 'electron'
import { mapGetters } from 'vuex'
import UiError from '../Ui/UiError.vue'

export default {
  name: 'wp-sync',
  components: { UiError },
  computed: {
    ...mapGetters(['wpApiDomain'])
  },
  data () {
    return {
      domain: this.$store.state.WpApi.domain,
      error: null,
      username: this.$store.state.WpApi.username,
      password: '',
      success: null
    }
  },
  methods: {
    checkForUpdates () {
      ipcRenderer.send('updates-check')
    },
    updateAvailable () {
      this.available = true
    }
  }
}
</script>
