<template>
  <div class="wp-login">
    <div class="settings__header clearfix">
      <h1>{{ $t('Please Login') }}</h1>
    </div>
    <div class="settings__body">
      <b-card no-header no-body overlay>
        <b-card-header :header="$t('Login To WordPress')">
          <fa-icon :icon="['fab', 'wordpress-simple']" /> {{ $t('Login To WordPress') }}
        </b-card-header>
        <b-form @submit="login">
          <b-card-body>
            <b-alert :show="success !== null" variant="success" fade>
              {{ success }}
            </b-alert>
            <b-alert :show="error !== null" variant="danger" fade>
              {{ error }}
            </b-alert>
            <b-form-group label="Domain" :description="(isHttps ? null : 'HTTPS is strongly recommended')">
              <b-input v-model="domain" required :disabled="loading" placeholder="https://example.com" />
            </b-form-group>
            <hr>
            <b-form-group :label="$t('Username')">
              <b-input v-model="username" required :disabled="loading"/>
            </b-form-group>
            <b-form-group :label="$t('Password')">
              <b-input v-model="password" type="password" required :disabled="loading"/>
            </b-form-group>
          </b-card-body>
          <b-card-footer class="d-flex align-items-center">
            <b-btn type="submit" variant="primary" :disabled="loading">{{ $t('Login') }}</b-btn>
            <fa-icon v-if="loading" class="ml-auto" icon="spinner" spin />
          </b-card-footer>
        </b-form>
      </b-card>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'Vuex'
export default {
  name: 'wp-login',
  computed: {
    isHttps () {
      return /^(f|ht)tps:\/\//i.test(this.domain)
    },
    ...mapGetters({
      loading: 'wpApiLoading'
    })
  },
  data () {
    return {
      domain: this.$store.state.WpApi.domain,
      error: null,
      username: this.$store.state.WpApi.username,
      password: '',
      success: null
    }
  },
  methods: {
    login (e) {
      e.preventDefault()

      this.$store.commit('SET_WPAPI_DOMAIN', this.domain)
      this.$store.dispatch('attemptWpApiLogin', {
        username: this.username,
        password: this.password
      })
        .then(response => {
          this.password = ''
          if (!(response instanceof Error)) {
            this.success = 'Logged In'
            if (this.$route.query.redirect) {
              setTimeout(() => {
                this.$router.push(this.$route.query.redirect)
              }, 2000)
            }
          } else {
            this.error = 'Error: ' + response.message
          }
        })
        .catch(({ response }) => {
          console.log(78)
          if (response.status === 403) {
            this.error = 'Invalid Username/Password'
          } else {
            this.error = 'Error: ' + response.data.message
          }
        })
    }
  },
  watch: {
    success () {
      setTimeout(() => { this.success = null }, 3000)
    },
    error () {
      setTimeout(() => { this.error = null }, 3000)
    }
  }
}
</script>

<style>
  .card { max-width: 420px; margin: 0 auto; }
</style>
