<template>
  <div class="wp-sync">
    <div class="settings__header clearfix">
      <h1>{{ $t('Sync with WordPress') }}</h1>
    </div>
    <div class="settings__body">
      <div class="alert alert-success d-flex">
        <span class="my-auto"><strong>◉ Connected to</strong> <em>{{ wpApiDomain }} : {{ wpApiUsername }}</em></span>
        <b-btn to="wp-login" class="ml-auto" variant="outline-secondary">Change WordPress Server</b-btn>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Loaded</h2>
          <table class="table">
            <tr>
              <th scope="row">Classes</th>
              <td>
                <fa-icon v-if="loadingClasses" icon="spinner" spin />
                <span v-else>{{ classes.length }}</span>
              </td>
              <td style="text-align: right;">
                <b-btn @click="loadClasses" size="sm">Download</b-btn>
              </td>
            </tr>
            <tr>
              <th scope="row">Order Statuses</th>
              <td>
                <fa-icon v-if="loadingStatuses" icon="spinner" spin />
                <span v-else>{{ statuses.length }}</span>
              </td>
              <td style="text-align: right;">
                <b-btn @click="loadStatuses" size="sm">Download</b-btn>
              </td>
            </tr>
            <tr>
              <th scope="row">Users</th>
              <td>
                <fa-icon v-if="loadingUsers.isLoading" icon="spinner" spin />
                <span v-else>{{ users.length }}</span>
              </td>
              <td style="text-align: right;">
                <b-btn @click="loadUsers" size="sm">Download</b-btn>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <h2>Pending</h2>
          <table class="table">
            <tr>
              <th scope="row">Check Ins</th>
              <td>{{ pendingSubmissions.length }}</td>
              <td style="text-align: right;">
                <b-btn @click="commitAllRosters" size="sm">Save All</b-btn>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'wp-sync',
  computed: {
    ...mapGetters({
      classes: 'getClasses',
      pendingSubmissions: 'pendingSubmissions',
      statuses: 'getStatuses',
      users: 'getUsers',
      wpApiDomain: 'wpApiDomain',
      wpApiUsername: 'wpApiUsername',
      loadingClasses: 'loadingClasses',
      loadingStatuses: 'loadingStatuses',
      loadingUsers: 'loadingUsers'
    })
  },
  methods: {
    ...mapActions([
      'commitAllRosters',
      'loadClasses',
      'loadStatuses',
      'loadUsers'
    ])
  }
}
</script>
