<template>
  <li class="list-item" :class="{ active: isLoaded, selected: (isSelected || isLoading) }">
    <div class="list-item__inner" @click="select" >
      <span class="mt-1 mb-1">{{ name }}</span>
      <div class="ml-auto">
        <fa-icon v-if="isLoading" icon="spinner" spin />
        <div v-else>
          <div v-if="isSelected && !isLoaded" class="d-flex">
            <multiselect
              v-model="statuses"
              :options="allStatuses"
              :multiple="true"
              label="label"
              track-by="id"
              placeholder="Choose order statuses"
              style="min-width: 350px">
            </multiselect>
            <b-btn variant="outline-danger ml-3" size="sm" @click="deselect">Cancel</b-btn>
          </div>
          <div v-if="isLoaded" class="form-inline mb-0">
            <b-btn
              variant="outline-danger"
              size="sm"
              class="ml-3"
              @click="close">
                {{ $t('Close Check In') }}
            </b-btn>
            <b-btn
              variant="secondary"
              size="sm"
              class="ml-3"
              @click="commit">
                <fa-icon icon="sync" /> Save to WordPress
            </b-btn>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { mapGetters } from 'vuex'
import Multiselect from 'vue-multiselect'

export default {
  name: 'roster-loader',
  props: [ 'product' ],
  components: { Multiselect },
  computed: {
    isLoaded () { return this.loaded.indexOf(this.id) > -1 },
    isLoading () { return this.loading.indexOf(this.id) > -1 },
    ...mapGetters({
      allStatuses: 'getStatuses',
      loading: 'pendingRosters',
      loaded: 'loadedRosters',
      pendingSubmissions: 'pendingSubmissions'
    })
  },
  data () {
    return {
      isSelected: false,
      statuses: [],
      ...this.product
    }
  },
  methods: {
    commit (e) {
      e.stopPropagation()
      this.$store.dispatch('commitRoster', this.id)
    },
    close (e) {
      e.stopPropagation()
      if (confirm(this.$t('Close Check In') + '?')) {
        this.$store.dispatch('closeRoster', this.id)
        this.isSelected = false
      }
    },
    deselect (e) {
      e.stopPropagation()
      this.isSelected = false
    },
    select (e) {
      e.stopPropagation()
      this.isSelected = true
    },
    load () {
      if (this.isSelected && !this.isLoading && this.statuses.length > 0) {
        this.$store.dispatch('loadRoster', {
          productId: this.id,
          statuses: this.statuses.map(status => status.id)
        })
      }
    }
  }
}
</script>
