<template>
  <div class="app-toolbar">
    <div class="app-toolbar__group left">
      <ui-lang-select v-if="showMenu" />
    </div>
    <div class="app-toolbar__group right">
      <ui-login-button :onLoginSucces="openMenu" />
      <ui-drawer-menu :show="showMenu" :requestToClose="closeMenu"/>
    </div>
  </div>
</template>

<script>
import UiDrawerMenu from './UiDrawerMenu.vue'
import UiLoginButton from './UiLoginButton.vue'
import UiLangSelect from './UiLangSelect.vue'

export default {
  name: 'ui-app-toolbar',
  components: { UiDrawerMenu, UiLoginButton, UiLangSelect },
  data () {
    return {
      showMenu: false
    }
  },
  methods: {
    openMenu: function () {
      this.showMenu = true
    },
    closeMenu: function () {
      this.showMenu = false
    }
  }
}
</script>

<style>
  .app-toolbar {
    z-index: 10
  }
  .app-toolbar__group {
    position: fixed;
    top: 15px;
  }
  .app-toolbar__group.right { right: 15px; }
  .app-toolbar__group.left { left: 15px; }
</style>
