<template>
  <ui-loader :isLoading="loadingUsers.isLoading" :progress="loadingUsers">
    <ul class="ui-check-in-list list--check">
      <li class="list-item"
          v-for="student in list"
          :key="student.id"
          :class="{
            active: student.checkedIn && student.pending,
            saved: student.checkedIn && !student.pending,
            deleting: student.id === selected
          }"
          @click="rowWasClicked(student)">
        <button class="list-item__inner">
          <span v-if="student.id !== selected">
            <b-media>
              <b-img slot="aside" :src="student.avatar" />
              {{ student.fullName }} <br> <small>{{ student.email }}</small>
            </b-media>
          </span>
          <span v-else>{{ $t('Tap again to check out') }}</span>
        </button>
      </li>
    </ul>
  </ui-loader>
</template>

<script>
import { find, orderBy } from 'lodash'
import { mapGetters } from 'vuex'
import UiLoader from './UiLoader.vue'

export default {
  name: 'ui-check-in-list',
  props: ['productId', 'roster'],
  components: { UiLoader },
  computed: {
    list () {
      return orderBy(this.roster.map((item) => {
        let student = find(this.allUsers, {'id': item.userId})
        return {
          ...student,
          ...item
        }
      }), 'firstName')
    },
    ...mapGetters({
      allUsers: 'getUsers',
      loadingUsers: 'loadingUsers'
    })
  },
  watch: {
    selected (val) {
      if (val) {
        setTimeout(() => {
          this.selected = null
        }, 2500)
      }
    }
  },
  data () {
    return {
      selected: null
    }
  },
  methods: {
    rowWasClicked ({ checkedIn, userId, pending, productId }) {
      if (checkedIn && !pending) {
        return alert('Cannot Edit: Already Saved to WordPress')
      }
      if (!checkedIn) {
        this.$store.dispatch('checkIn', { userId, productId })
      } else {
        if (this.selected === userId) {
          this.$store.dispatch('checkOut', { userId, productId })
          this.selected = null
        } else {
          this.selected = userId
        }
      }
    }
  }
}
</script>

<style scoped>
  .ui-check-in-list .list-item__inner {
    padding: 10px 10px 10px 50px;
    text-align: left;
  }
</style>
