<template>
  <div class="app-drawer-menu" :class="{ open: show }">
    <div class="app-drawer-menu__header clearfix">
      <h2 class="app-drawer-menu__title pull-left">{{ $t('System Settings') }}</h2>
      <button class="app-drawer-menu__close pull-right" type="button" @click="requestToClose">&times;</button>
    </div>
    <div class="app-drawer-menu__list">
      <router-link to="/settings/load-classes" class="app-drawer-menu__item">
        <fa-icon icon="user-plus" />
        <span>{{ $t('Load Class List') }}</span>
      </router-link>
      <router-link to="/settings/manual-check-in" class="app-drawer-menu__item">
        <fa-icon icon="user-plus" />
        <span>{{ $t('Manual Check In') }}</span>
      </router-link>
      <router-link to="/settings/wp-sync" class="app-drawer-menu__item">
        <fa-icon icon="sync" />
        <span>{{ $t('Sync with WordPress') }}</span>
      </router-link>
      <div class="app-drawer-menu__separator"></div>
      <router-link to="/settings/enroll-user" class="app-drawer-menu__item">
        <fa-icon icon="user-plus" />
        <span>{{ $t('Enroll Student') }}</span>
      </router-link>
      <router-link to="/settings/fingerprint-server" class="app-drawer-menu__item">
        <fa-icon icon="fingerprint" />
        <span>{{ $t('Fingerprint Server') }} <i class="pip"></i></span>
      </router-link>
      <a @click="exit" class="app-drawer-menu__item mt-auto text-danger">
        <fa-icon icon="sign-out-alt" />
        <span>{{ $t('Exit App') }}</span>
      </a>
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'
export default {
  name: 'ui-drawer-menu',
  props: [ 'show', 'requestToClose' ],
  methods: {
    exit () {
      remote.getCurrentWindow().close()
    }
  }
}
</script>

<style>
  .app-drawer-menu {
    width: 320px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0; right: -320px;
    bottom: 0;
    text-align: left;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: 250ms ease right;
  }
  .app-drawer-menu__header {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
  }
  .app-drawer-menu__close {
    float: right; background-color: transparent;
    border:  none; padding: 0;
    font-size: 23px; line-height: 20px;
  }
  .app-drawer-menu__title {
    float: left;
    margin-bottom: 0px;
    font-size: 1.2rem;
  }
  .app-drawer-menu.open {
    right: 0;
  }

  .app-drawer-menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
  }
  .app-drawer-menu__separator {
    height: 1px; background-color: rgb(225, 225, 225);
  }
  .app-drawer-menu__item {
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: rgb(85, 85, 85);
  }
  .app-drawer-menu__item:hover {
    text-decoration: none
  }
  .app-drawer-menu__item svg {
    margin-right: 0.75rem
  }
</style>
