<template>
  <div v-if="show" class="ui-error">
    <fa-icon class="ui-error__icon mb-4" icon="exclamation-triangle" size="5x" />
    <h2 class="ui-error__heading mb-3">{{ $t(title) }}</h2>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'ui-error',
  props: ['show', 'title']
}
</script>

<style>
.ui-error {
  padding: 40px 0;
  text-align: center;
}
.ui-error__icon,
.ui-error__heading {
  color: #d0d0d0;
  text-shadow: 1px 1px 0 #fff;
}
</style>
