<template>
  <div class="ui-keypad">
    <ol v-if="limit" class="ui-keypad__pips">
      <li v-for="(n, index) in 4" :class="{active: index < buffer.length }" :key="n"></li>
    </ol>
    <input v-else class="ui-keypad__buffer" type="text" disabled :value="buffer">
    <div class="ui-keypad-keys">
      <button class="ui-keypad__button" v-for="n in 9" :key="n" @click="buttonWasPressed(n)">{{ n }}</button>
      <button v-if="!limit" class="ui-keypad__button ui-keypad__button--red" @click="clearBuffer">✘</button>
      <button class="ui-keypad__button" @click="buttonWasPressed(0)">0</button>
      <button v-if="!limit" class="ui-keypad__button ui-keypad__button--green" @click="sequenceWasCompleted(buffer); clearBuffer()">✓</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ui-keypad',
  props: [ 'sequenceWasCompleted', 'limit' ],
  data () {
    return {
      buffer: ''
    }
  },
  watch: {
    buffer (val) {
      this.$emit('bufferChanged', val)
      if (this.buffer.length === this.limit) {
        setTimeout(() => {
          this.sequenceWasCompleted(this.buffer)
          this.clearBuffer()
        }, 250)
      }
    }
  },
  methods: {
    buttonWasPressed (number) {
      this.buffer += number
    },
    clearBuffer () {
      this.buffer = ''
    }
  }
}
</script>

<style>
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  .ui-keypad {
    padding: 10px;
    background-color: #fbfbfb
  }
  .ui-keypad__pips {
    list-style-type: none;
    margin: 0; padding: 1rem 0;
    text-align: center;
  }
  .ui-keypad__pips li {
    display: inline-block;
    width: 15px; height: 15px;
    margin: 0 5px;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
  }
  .ui-keypad__pips li.active {
    background-color: #c5c5c5
  }
  .ui-keypad__buffer {
    width: 100%;
    border:  none;
    background-color: transparent;
    text-align: center;
    margin:  1rem 0;
    letter-spacing: 3px;
    font-size: 1.2rem;
  }
  .ui-keypad-keys {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin: 0 auto;
  }
  .ui-keypad__button {
    width: 80px; box-sizing: border-box;
    border: 1px solid white;
    background-color: #eaeaea;
    color: #6d6a6a;
    height: 80px;
  }

  .ui-keypad__button--green {
    background-color: green;
    color: #fff !important;
  }
  .ui-keypad__button--red {
    background-color: red;
    color: #fff !important;
  }
  .ui-keypad__button:active,
  .ui-keypad__button:focus {
    border: none;
    outline: 0;
  }
  .ui-keypad__button:last-child {
    margin: 0 auto;
  }

  .ui-keypad__button--cancel { background-color: red; color: #fff; }
  .ui-keypad__button--accept { background-color: green; color: #fff; }
</style>
