<template>
  <div>
    <b-dropdown :text="currentLocale">
      <b-dropdown-item-button
        v-for="locale in locales"
        v-bind:key="locale.code"
        type="button"
        :value="locale.code"
        @click="setLocale">
        {{ $t('languages.'+locale.label) }}
      </b-dropdown-item-button>
    </b-dropdown>
  </div>
</template>

<script>
export default {
  name: 'ui-lang-select',
  data () {
    let locales = []
    for (var locale in this.$i18n.messages) {
      locales.push({
        code: locale,
        label: this.$i18n.messages[locale]._name
      })
    }
    return {
      locales: locales
    }
  },
  watch: {
    locale (val) {
      console.log(this, val)
    }
  },
  computed: {
    currentLocale () {
      return this.locales
        .find((ele) => ele.code === this.$i18n.locale)
        .label
    }
  },
  methods: {
    setLocale (e) {
      this.$i18n.locale = e.target.value
    }
  }
}
</script>

<style>
</style>
