<template>
  <ul class="list--check">
    <li class="list-item"
        v-for="(item, index) in items"
        :key="item.id"
        @click="itemWasClicked(index, item)">
      <div class="list-item__inner">
        <slot :item="item" name="list-item" />
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'ui-list',
  props: ['items', 'itemWasClicked']
}
</script>

<style>
  .list--check {
    list-style-type: none;
    padding: 0; margin: 0;
    width: 100%;
    overflow-y: scroll;
  }

  .list--check .list-item__inner {
    background-color: #fff;
    border-bottom: none;
    border-radius: 0;
    padding: 15px 10px 15px 50px;
  }
  .list--check .list-item:last-of-type .list-item__inner {
    border-bottom: 1px solid;
  }
  .list--check .list-item.selected .list-item__inner:before,
  .list--check .list-item.active .list-item__inner:before {
    position: absolute;
    content: "✓";
    left: 15px;
  }
  .list--check .list-item.selected .list-item__inner:before { color: #73ade0; }
  .list--check .list-item.active .list-item__inner:before { color: #155724; }
  .list--check .list-item.deleting .list-item__inner:before { color: #721c24; }
</style>
