<template>
  <div>
    <div class="ui-loader" v-if="isLoading">
      <fa-icon class="ui-loader__icon" icon="spinner" size="5x" spin />
      <h2 class="ui-loader__heading mt-4">
        {{ $t('Loading') }}
        <span class="ui-loader__pips">{{ pips }}</span>{{ count }}
      </h2>
    </div>
    <slot v-else />
  </div>
</template>

<script>
export default {
  name: 'ui-loader',
  props: [ 'isLoading', 'progress' ],
  computed: {
    count () {
      if (this.progress && this.progress.total > -1) {
        let percent = Math.ceil((this.progress.complete / this.progress.total) * 100)
        return percent > 0 ? ` ${percent}%` : ''
      }
    }
  },
  data () {
    return {
      pips: ''
    }
  },
  destroyed () {
    clearInterval(this._interval)
  },
  mounted () {
    this._interval = setInterval(() => {
      this.pips = (this.pips.length === 3 ? '' : this.pips + '.')
    }, 500)
  }
}
</script>

<style>
  .ui-loader {
    margin: 80px auto;
    text-align: center;
  }
  .ui-loader__icon,
  .ui-loader__heading {
    color: #d0d0d0;
    text-shadow: 1px 1px 0 #fff;
  }
  .ui-loader__pips {
    display: inline-block;
    text-align: left;
    width: 1em;
  }
</style>
