<template>
  <div class="ui-login-button" :class="{invalid: shake}">
    <router-link to="/" class="btn btn-secondary">
      <fa-icon icon="home" />
    </router-link>
    <b-btn v-b-modal.loginModal>
      <fa-icon icon="cog" />
    </b-btn>
    <b-modal ref="loginModal" id="loginModal"
      centered
      hide-footer
      hide-header>
        <a class="close" @click="$refs.loginModal.hide()">&times;</a>
        <ui-keypad
          :sequenceWasCompleted="attemptLogin"
          :limit="4"
        />
    </b-modal>
  </div>
</template>

<script>
import UiKeypad from './UiKeypad.vue'
export default {
  name: 'ui-login-button',
  components: { UiKeypad },
  props: [ 'onLoginSucces' ],
  data () {
    return {
      shake: false
    }
  },
  methods: {
    attemptLogin: function (password) {
      if (parseInt(password) === window.appConfig.passcode) {
        this.$refs.loginModal.hide()
        this.password = ''
        this.onLoginSucces()
      } else {
        this.shake = true
        setTimeout(() => {
          this.shake = false
        }, 250)
      }
    }
  }
}
</script>

<style>
  .ui-login-button .modal .modal-dialog { max-width: 260px }
  .ui-login-button .modal .modal-body { padding:  0 }
  .ui-login-button.invalid .modal-dialog {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  .ui-login-button .modal .close {
    position: absolute;
    top: 5px; right: 10px;
  }
</style>
