<template>
  <div class="ui-user-list">
    <ui-loader :isLoading="loading.isLoading" :progress="loading">
      <div class="user-list-nav">
        <button class="btn"
          v-for="(users, letter) in users"
          v-bind:key="letter"
          @click="scrollTo(letter)">
          {{ letter }}
        </button>
      </div>
      <ol class="user-list">
        <li
          class="user-list__group"
          :ref="'letter_'+letter"
          v-for="(users, letter) in users"
          v-bind:key="letter">
          <h3>{{ letter }}</h3>
          <ul class="list--grid">
            <li class="list-item"
                v-for="item in users"
                :key="item.id"
                :class="{ selected: item.active }"
                @click="onUserClicked(item)">
              <b-media class="list-item__inner">
                <b-img slot="aside" :src="item.avatar" />
                {{ item.fullName }} <br> <small>{{ item.id }} - {{ item.email }}</small>
              </b-media>
            </li>
          </ul>
        </li>
      </ol>
    </ui-loader>
    <ui-error :show="allUsers.length === 0 && !loading.isLoading" title="No Users Loaded">
      <b-btn @click="loadUsers" variant="secondary" size="sm">Load Users</b-btn>
    </ui-error>
  </div>
</template>

<script>
import _ from 'lodash'
import Fuse from 'fuse.js'
import { mapActions, mapGetters } from 'vuex'
import UiError from './UiError.vue'
import UiLoader from './UiLoader.vue'

export default {
  name: 'ui-user-list',
  components: { UiError, UiLoader },
  props: [ 'query', 'onUserClicked' ],
  computed: {
    filteredUsers () {
      if (this.query.length < 3) {
        return this.allUsers
      }

      this.$fuse.setCollection(this.allUsers)

      return this.$fuse.search(this.query)
    },
    users () {
      return _(this.filteredUsers).sortBy((user) => user.firstName)
        .groupBy((item) => {
          if (!item.firstName) {
            return '#'
          }
          return item.firstName.substr(0, 1).toUpperCase()
        })
        .value()
    },
    ...mapGetters({
      allUsers: 'getUsers',
      loading: 'loadingUsers'
    })
  },
  created () {
    this.$fuse = new Fuse([], {
      threshold: 0.4,
      location: 0,
      distance: 100,
      maxPatternLength: 32,
      minMatchCharLength: 1,
      keys: [
        'firstName',
        'lastName',
        'email'
      ]
    })
  },
  methods: {
    scrollTo (letter) {
      let offset = this.$refs['letter_' + letter][0].offsetTop
      window.scrollTo(0, offset - 85)
    },
    ...mapActions({
      loadUsers: 'loadUsers'
    })
  }
}
</script>

<style>
  .user-list {
    list-style-type: none;
    margin: 0 0 0 30px; padding: 0;
  }
  .user-list-nav {
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 1000;
  }
  .user-list-nav button {
    display: block;
    margin: 2px 0;
    padding: 0;
    width: 32px;
    height: 32px;
    text-align: center
  }
  .user-list__group {
    margin-bottom: 1rem;
  }
</style>
