<template>
  <div v-if="user" @click="resetTimeout">
    <h1>{{ $t('Hi, {name}', { name: user.fullName }) }}</h1>
    <div class="mt-5">
      <ul v-if="classes.length > 0" class="list--check">
        <li class="list-item"
            v-for="item in classes"
            :key="item.id"
            :class="{selected: selected === item.id, active: item.checkedIn }"
            @click="selectClass(item)"
            >
          <button class="list-item__inner">
            <span class="mr-auto">{{ item.name }}</span>
            <b-btn v-if="item.checkedIn && item.canUndo()"
              class="ml-3 mr-0"
              variant="outline-success"
              size="sm"
              @click="checkOut(item.id)">
                Undo
            </b-btn>
          </button>
        </li>
      </ul>
      <div class="mt-5">
        <p v-if="!selected && availableOrders.length > 0">{{ $t('Please Select Class') }}</p>
        <b-btn variant="primary"
          v-if="selected"
          @click="checkIn(selected)">
          ✓ {{ $t('Check In') }}
        </b-btn>
        <p v-if="orders.length > 0 && availableOrders.length === 0">{{ $t('You are fully checked in for today') }}</p>
      </div>
    </div>
    <div v-if="error !== null">
      <b-alert show variant="danger">
        {{ $t('Sorry, there was a problem checking you in today') }}: <br> {{ $t(error.message) }}
      </b-alert>
      <b-btn variant="outline-danger" to="/">{{ $t('Click here to close this message') }}</b-btn>
    </div>
  </div>
</template>

<script>
import { find } from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'attempt-check-in',
  props: ['userId'],
  computed: {
    classes () {
      return this.orders.map(item => ({
        canUndo () {
          let now = new Date()
          return Math.round((now - item.timestamp) / 60000) < 5
        },
        checkedIn: item.checkedIn,
        ...find(this.allClasses, {id: item.productId})
      }))
    },
    orders () {
      return this.roster.filter(item => {
        return item.userId === parseInt(this.userId)
      })
    },
    availableOrders () {
      return this.orders.filter(item => {
        return item.checkedIn === false
      })
    },
    user () {
      return find(this.users, {'id': parseInt(this.userId)})
    },
    ...mapGetters({
      allClasses: 'getClasses',
      users: 'getUsers',
      roster: 'getRoster'
    })
  },
  data () {
    return {
      error: null,
      selected: null,
      timeout: null
    }
  },
  methods: {
    checkIn (productId) {
      if (productId) {
        this.$store.dispatch('checkIn', {
          userId: this.userId,
          productId: productId
        })
          .then(item => {
            this.$router.push(`/complete/${this.userId}/${item.productId}`)
          })
          .catch(error => {
            this.error = error
          })
      }
    },
    checkOut (productId) {
      if (productId) {
        this.$store.dispatch('checkOut', {
          userId: this.userId,
          productId: productId
        })
      }
    },
    selectClass (item) {
      if (item.checkedIn === false) {
        this.selected = item.id
      }
    },
    resetTimeout () {
      let delay = (this.orders.length > 0 && this.availableOrders.length === 0) ? 5000 : 10000

      clearTimeout(this.timeout)

      this.timeout = setTimeout(() => {
        this.$router.push('/')
      }, delay)
    }
  },
  mounted () {
    if (!this.user) {
      alert(this.$t('User not found'))
      this.$router.push('/')
    }

    if (this.orders.length === 0) {
      this.error = new Error('No Classes Available')
    }

    if (this.orders.length === 1 && this.availableOrders.length === 1) {
      this.checkIn(this.orders[0].productId)
    }

    this.resetTimeout()
  },
  destroyed () {
    clearTimeout(this.timeout)
  }
}
</script>

<style>
</style>
