<template>
  <div class="begin">
    <div>
      <div class="begin__capture" @click="begin">
        <h1>{{ $t('Tap screen to begin') }}</h1>
        <p>{{ $t('Please Check In') }}</p>
      </div>
      <b-btn size="lg" @click="loginWithId" class="begin__login">
        <fa-icon icon="key"></fa-icon> ID
      </b-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'view-landing-page',
  methods: {
    begin () {
      this.$router.push('scan')
    },
    loginWithId (e) {
      e.stopPropagation()
      this.$router.push('login-with-id')
    }
  }
}
</script>

<style>
  .begin__capture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 0;
    top: 100px; bottom: 100px;
    left: 0; right:  0;
  }
  .begin__login {
    position: absolute;
    z-index: 0;
    bottom: 15px;
    left:  50%;
    transform:  translateX(-50%);
  }
</style>
