<template>
  <div>
    <h1>{{ $t('Thank You') }}, {{ user.firstName }}</h1>
    <div class="mt-5 mb-5">
      <fa-icon icon="thumbs-up" size="5x" />
    </div>
    <p>{{ $t('Checked in to {className}', { className: className }) }}</p>
  </div>
</template>

<script>
import { find } from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'complete',
  props: ['userId', 'productId'],
  computed: {
    className () {
      return find(this.allClasses, {'id': parseInt(this.productId)}).name
    },
    user () {
      return find(this.users, {'id': parseInt(this.userId)})
    },
    ...mapGetters({
      allClasses: 'getClasses',
      users: 'getUsers',
      roster: 'getRoster'
    })
  },
  mounted () {
    setTimeout(() => {
      this.$router.push('/')
    }, 2500)
  }
}
</script>

<style>
</style>
