<template>
  <div>
    <div v-if="!user">
      <h1>{{ $t('Enter User ID') }}</h1>
      <ui-keypad :sequenceWasCompleted="identifyUser" v-on:buffer-changed="setTimeout" />
    </div>
    <div v-else>
      <h1>{{ $t('Hi, {name}', { name: user.fullName }) }}</h1>
      <div class="mt-5">
        <b-btn variant="primary" size="lg" :to="'/check-in/'+userId">{{ $t('Click here to continue') }}</b-btn>
        <br>
        <b-btn size="sm" class="mt-3" variant="outline-danger" @click="reset">{{ $t('Not you? Click here') }}</b-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { find } from 'lodash'
import { mapGetters } from 'vuex'
import UiKeypad from '../Ui/UiKeypad.vue'

export default {
  name: 'view-login-with-id',
  components: { UiKeypad },
  computed: {
    user () {
      return find(this.users, {'id': parseInt(this.userId)})
    },
    ...mapGetters({
      roster: 'getRoster',
      users: 'getUsers'
    })
  },
  data () {
    return {
      userId: null,
      timeout: null
    }
  },
  methods: {
    identifyUser (userId) {
      clearTimeout(this.timeout)
      this.userId = userId

      if (!this.user) {
        alert(this.$t('User not found'))
        this.userId = null
      }
    },
    reset () {
      this.userId = null
    },
    setTimeout () {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.$router.push('/')
      }, 10000)
    }
  },
  mounted () {
    this.setTimeout()
  },
  destroyed () {
    clearTimeout(this.timeout)
  }
}
</script>

<style>
</style>
