<template>
  <div>
    <div @click="requestScan">
      <h1>{{ $t('Scanning') }}</h1>
      <div class="mt-5 mb-5">
        <img src="@/assets/scan-prompt.png" height="130">
      </div>
      <p>{{ $t('Place finger on scanner') }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import IconFingerprint from '../../../assets/fingerprint.svg'

import SoundScanSuccess from '../../../assets/sound/ScanSuccess.wav'
import SoundScanError from '../../../assets/sound/ScanError.wav'

export default {
  name: 'view-landing-page',
  components: { IconFingerprint },
  computed: {
    ...mapGetters({
      roster: 'getRoster',
      mockUsers: 'mockUsers'
    })
  },
  data () {
    return {
      timeout: null,
      notifications: {
        success: new Audio(SoundScanSuccess),
        error: new Audio(SoundScanError)
      },
      userId: null
    }
  },
  methods: {
    requestScan () {
      this.$store.dispatch('requestScan')
        .then((userId) => {
          this.notifications.success.play()
          this.$router.push(`/check-in/${userId}`)
        })
        .catch((code, response) => {
          this.onScanError(code.message)
        })
    },
    onScanError (reason) {
      this.notifications.error.play()
      alert('Scanning Error: ' + reason)
      this.$router.push('/')
    }
  },
  mounted () {
    this.requestScan()
    this.timeout = setTimeout(this.onScanError.bind(this), 15000)
  },
  destroyed () {
    clearTimeout(this.timeout)
  }
}
</script>

<style>
</style>
