<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'app-checkin',
  mounted () {
    if (this.users.length === 0) {
      this.$store.dispatch('loadUsers')
    }
  },
  computed: {
    ...mapGetters({
      users: 'getUsers'
    })
  }
}
</script>

<style>
  /* CSS */
  @import '~bootstrap/dist/css/bootstrap.css';
  @import '~bootstrap-vue/dist/bootstrap-vue.css';

  #app {
    min-height: 100vh;
    background-color: #f5f5f5
  }
  .list--grid {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: -7.5px; padding:  0;
  }

  .list--grid > .list-item {
    display: flex;
    width: 100%;
    padding: 7.5px;
    cursor: pointer;
  }
  .list-item__inner {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    background: #efefef;
    border: 1px solid #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    outline: 0;
  }
  .list-item__meta {
    list-style-type: none;
    margin: 0; padding: 0;
    font-size: 0.75rem;
  }
  .list-item__meta li {
    display: inline-block;
  }
  .list-item__meta li:after {
    content:  " | ";
    color:  #c1c1c1;
  }
  .list-item__meta li:last-child:after {
    content:  "";
    color:  #c1c1c1;
  }
  .list-item:hover .list-item__inner {
    border-color: #c6e4ff;
    box-shadow: 0px 0px 2px  #c6e4ff;
  }
  .list-item.selected .list-item__inner {
    background-color: aliceblue;
    border-color: #c6e4ff;
  }
  .list-item.active .list-item__inner {
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .list-item.saved .list-item__inner {
    background-color: #c3d4c7;
    color: #808681;
  }
  .list-item.deleting .list-item__inner {
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .list--check {
    list-style-type: none;
    padding: 0; margin: 0;
    width: 100%;
    overflow-y: scroll;
    border-bottom: 1px solid #e0e0e0;
  }
  .list--check .list-item__inner {
    background-color: #fff;
    border-bottom: none;
    border-radius: 0;
    padding: 15px 10px 15px 50px;
  }
  .list--check .list-item.selected .list-item__inner:before,
  .list--check .list-item.active .list-item__inner:before,
  .list--check .list-item.saved .list-item__inner:before {
    position: absolute;
    content: "✓";
    left: 15px;
  }
  .list--check .list-item.deleting .list-item__inner:before {
    content: "×"
  }
  .list--check .list-item.saved .list-item__inner:before {
    content: "✓✓";
    letter-spacing: -5px;
    transform:  translateX(-25%);
  }
  .list--check .list-item.selected .list-item__inner:before { color: #73ade0; }
  .list--check .list-item.active .list-item__inner:before { color: #155724; }
  .list--check .list-item.saved .list-item__inner:before { color: #155724; }

  @media (min-width: 768px) {
    .list--grid > .list-item {
      width: 50%;
    }
  }
  @media (min-width: 1024px) {
    .list--grid > .list-item {
      width: 33.33333%;
    }
  }
  @media (min-width: 1680px) {
    .list--grid > .list-item {
      width: 25%;
    }
  }
</style>
